<div class="home">
  <div class="home-container">

    <div class="sun">
      <%= image_tag("sun.png") %>
    </div>

    <h2>Darrell Jones</h2>

    <div class="text-container">
      <p>As a teacher-trainer and educator, I've been able to help fuel a passion for learning in students and educators. I would never have been an effective educator if I didn't share that same passion.</p>

     <p>I have always been a lifelong learner and tinkerer, which has led me to the realm of web development. It provides an opportunity to pursue knowledge learning new languages, libraries, and frameworks. I'm excited to pursue a career in software engineering because I tend to thrive in collaborative environments. The excitement centered around building something as a group is difficult to replicate in other fields.</p>
    </div>

    <div class="crater">
    <%= link_to(image_tag("crater.png"), "https://www.linkedin.com/in/darrelldjones13", :target => "_blank") %>
    </div>

    <div class="resume">
      <p>Experience</p>
       <div><%= image_tag("linkedin.png") %></div>
    </div>

    <div class="greeny">
    <%= link_to(image_tag("green.png"), "http://pairs-learning.herokuapp.com/", :target => "_blank") %>
    </div>

    <div class="pairs">
      <div><%= image_tag("pairs-horiz.png") %></div>
      <p>Student collaboration made easy.</p>
      <p>Pairs is a web-based learning application designed to help students work together remotely on assignments, foster collaborative dialogue, and ultimately learn from each other.  Pairs was designed by a group of educators, entrepreneurs, designers, and developers. </p>
    </div>

    <div class="lime">
      <%= image_tag("lime.png") %>
    </div>

    <div class="orange">
      <%= link_to(image_tag("orange.png"),landing_path, :target => "_blank") %>
    </div>

    <div class="art">
       <div><%= image_tag("asparagus.png") %></div>
      <p>Design and Illustration</p>
    </div>

    <div class="pale-yellow">
      <%= image_tag("pale-yellow.png") %>
    </div>

    <div class="pink">
      <%= image_tag("pink.png") %>
    </div>

    <div class="purple-spot">
      <%= link_to(image_tag("purple-spot.png"), "http://www.cyrus-designs.com/archduke", :target => "_blank") %>
    </div>

    <div class="archduke">
      <div><%= image_tag("archduke.png") %></div>
      <p>A painting of paintings!? Explore one of the earliest known documented art galleries, its collector, its collection, its artists, and the unique story of its curator.</p>
    </div>

    <div class="red">
      <%= link_to(image_tag("red.png"),"http://www.cyrus-designs.com/chairs", :target => "_blank") %>
    </div>

    <div class="chairs">
      <div><%= image_tag("chairs.png") %></div>
      <p>A Visual Guide to the Modern Chair</p>
      <p>Have a Seat is an interactive learning tool created for with a curiousity for design history.  Chairs have an interesting role in society.They certainly serve a functional purpose, but also provide aesthetic value. Explore ten influential designs and learn about their creators.</p>
    </div>

    <div class="rings">
      <%= link_to(image_tag("rings.png"), "http://treefrog.herokuapp.com/", :target => "_blank") %>
    </div>

    <div class="treefrog">
      <div><%= image_tag("treefrog-logo.png") %></div>
      <p>TreeFrog is an educational and exploratory tool that portrays the vastness of the animal kingdom and visually traverses the relationships between animals through their taxonomy. Users can interactively explore the various connections between members of the animal kingdom via dynamic data visualization. By providing data about each creature's environment, characteristics, and endangerment status, TreeFrog aims to inspire respect for the rich variety of the natural world.</p>
    </div>

    <div class="small-orange">
      <%= link_to(image_tag("small-orange.png"), "mailto:darrelldjones13@gmail.com") %>
    </div>

    <div class="contact"><p>Contact</p>
    </div>

    <div class="two-tone">
      <%= link_to(image_tag("two-tone.png"), "http://jam-session.herokuapp.com/", :target => "_blank") %>
    </div>

    <div class="jamsession">
      <div><%= image_tag("jamsession-logo.png") %></div>
      <p>Jam Session is a social networking app that allows musicians to find other musicians in Chicago to jam with. Musicians can seek out other musicians in their neighborhood by instrument type and skill level and send an internal message to request a meet up.</p>
    </div>
  </div>
</div>
