

<div class="design">
  <div class="design-container">

    <div class="header-container">
      <h1>design and illustration</h1>
        <%= image_tag("big-planets.png") %>
    </div>
  



      <div class="wrapper-with-margin">
        <div id="owl-demo" class="owl-carousel">
          <div><%= image_tag("e2sp.png") %> Early Elementary Science Partnership(E2SP)</div>

          <div><%= image_tag("spu-hex.gif") %> Solar Power-Up: Peggy Notebaert Nature Museum</div>

          <div><%= image_tag("badge-EV-prairie-urban.png") %> Mozilla- Chicago Summer of Learning Digital Badges: Peggy Notebaert Nature Museum</div>

          <div><%= image_tag("Badge-Habitat-Restorer.png") %> CSOL Badges</div>

          <div><%= image_tag("SPU-badge-GearHead.png") %> CSOL Badges</div>

          <div><%= image_tag("SPU-badge-PitCrew.png") %> CSOL Badges</div>

          <div><%= image_tag("Badge-El-Valor-Habitat-Restorer-Terrestrial.png") %> CSOL Badges</div>

           <div><%= image_tag("treefrog2.png") %> TreeFrog Animal Kingdom Web Application</div>

          <div><%= image_tag("asparagus.png") %> Asparagus Power</div>

          <div><%= image_tag("saic.png") %> School of the Art Institute of Chicago: Department of Art Education</div>

          <div><%= image_tag("aic-lion.png") %> The Art Institute of Chicago: Education Department</div>

          <div><%= image_tag("comic.png") %> Dillender-Jones Wedding Invitation</div>

          <div><%= image_tag("Passenger-Pigeon-Web.jpg") %> Scientific Illustration: Passenger Pigeon (Ectopistes Migratorius)</div>

          <div><%= image_tag("Rock-Pigeon-Web.jpg") %> Scientific Illustration: Rock Dove (Columba Livia)</div>

          <div><%= image_tag("andy-toon-2.png") %> Art History Learning Tool 3D Rendering: Andy Warhol</div>

          <div><%= image_tag("uscellular.jpg") %> Professional Training Materials: US Cellular</div>

          <div><%= image_tag("pairs-logo.png") %> Pairs Education Web Application</div>
         
      </div>
    </div>
  </div>
</div>



